* {
    margin     : 0;
    padding    : 0;
    font-family: sans-serif;
}

html {
	scroll-behavior: smooth;
}

.banner {
    width              : 100%;
    height             : 100vh;
    background-image   : linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/background.jpg);
    background-size    : cover;
    background-position: center;

}

.logo {
    width : 50px;
    height: 50px;
    cursor: pointer;
}

.navbar {
    width          : 85%;
    margin         : auto;
    padding        : 35px 0;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    flex-direction : row;
}

.navbar ul li {
    list-style: none;
    display   : inline-block;
    margin    : 0 20px;
    position  : relative;
}

.navbar ul li a {
    text-decoration: none;
    color          : #fff;
    text-transform : uppercase;
}

.navbar ul {
    flex-direction: row;
}

.navbar ul li ::after {
    content   : '';
    height    : 5px;
    width     : 0;
    background: #e12525;
    position  : absolute;
    left      : 0;
    bottom    : -10px;
	-moz-transition    : all .4s ease-in-out;
    -o-transition      : all .4s ease-in-out;
    -webkit-transition : all .4s ease-in-out;
    transition         : all .4s ease-in-out;

}

.navbar ul li :hover:after {
    width: 100%;
}

.content {
    width     : 100%;
    position  : absolute;
    top       : 50%;
    transform : translateY(-50%);
    text-align: center;
    color     : #fff;
}

.content h1 {
    font-size : 70px;
    margin-top: 80px;
}

.content p {
    margin     : 20px auto;
    font-weight: 100;
    line-height: 25px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}

.buttons {
    margin    : 10%;
    text-align: center;
}

.btn-hover {
    width          : 200px;
    font-size      : 16px;
    font-weight    : 600;
    color          : #fff;
    cursor         : pointer;
    margin         : 20px;
    height         : 55px;
    text-align     : center;
    border         : none;
    background-size: 300% 100%;

    border-radius     : 50px;
    -moz-transition   : all .4s ease-in-out;
    -o-transition     : all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition        : all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition    : all .4s ease-in-out;
    -o-transition      : all .4s ease-in-out;
    -webkit-transition : all .4s ease-in-out;
    transition         : all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #e12525, #e4406f, #dd3078, #b62b5c);
    box-shadow      : 0 4px 15px 0 rgba(196, 49, 49, 0.75);
}

.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}

.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.main img {
	border-radius: 8px;
}

.service{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

span {
    color: #f9004d;
}

.uiux{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.uiux img{
	height: auto;
	width: 430px;
}
.uiux-text{
	width: 550px;
}

.uiux-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.uiux-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.uiux-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}



.idn{
	width: 100%;
	padding: 100px 0px;
	background-color: #101010;
}
.idn img{
	height: auto;
	width: 430px;
}
.idn-text{
	width: 550px;
}

.idn-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.idn-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.idn-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}




.ps{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.ps img{
	height: auto;
	width: 430px;
}
.ps-text{
	width: 550px;
}

.ps-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.ps-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.ps-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}



.Sertificate{
	width: 100%;
	padding: 100px 0px;
	background-color: #101010;
}
.Sertificate img{
	height: auto;
	width: 430px;
}
.Sertificate-text{
	width: 550px;
}

.Sertificate-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.Sertificate-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.Sertificate-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

.slider{
	overflow: hidden;
	height: auto;
	width: 430px;
}

.slider figure div{
	width: 20%;
	float: left;
}

.slider figure img{
	width: 100%;
	float: left;
}

.slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slidy infinite;
}

@keyframes slidy{
	0%{
		left: 0%
	}

	10%{
		left: 0%;
	}

	12%{
		left: -100%;
	}

	22%{
		left: -100%;
	}

	24%{
		left: -200%;
	}

	34%{
		left: -200%;
	}

	36%{
		left: -300%;
	}

	46%{
		left: -300%;
	}

	48%{
		left: -400%;
	}

	58%{
		left: -400%;
	}

	60%{
		left: -300%;
	}

	70%{
		left: -300%;
	}

	72%{
		left: -200%;
	}

	82%{
		left: -200%;
	}

	84%{
		left: -100%;
	}

	94%{
		left: -100%;
	}

	96%{
		left: 0%;
	}

	100%{
		left: 0%;
	}
}


footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #191919;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #f9004d;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#f9004d;
	bottom: 35px;
	font-size: 14px; 
}
